{% extends "master.html" %}
  {% block body %}
    <form class="form-signin" action="login" method="post">
      <h2 class="form-signin-heading">Log In</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">
      </div>
      <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    
    {% if message %}
    <br>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only"></span>
      {{ message }}
    </div>
    {% endif %}
<!-- 
    <span><a href="/forgot_password">Forgot your password?</a></span><br><br>
 -->
  {% endblock %}